
label{
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 1%;
}

input{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    
}

textarea{
    width: 60%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: transparent;
    color: white;
}

